.rank {
    text-align: center;
    margin: 100px 40px 40px 40px;
    font-size: clamp(1.2rem, 1.7vw, 2rem);
    color: aliceblue;
}

.rank span {
    display: inline-block;
    font-size: clamp(1.5rem, 2.2vw, 2.5rem);
    padding-left: 10px;
    color: rgb(227, 227, 50);
    font-weight: bold;
}